.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services {
  background: var(--color-white);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid transparent;
  height: fit-content;
  transition: var(--transition);
}
.services:hover {
  background: var(--color-primary);
  border-color: var(--color-highlight-dark);
  cursor: default;
}

.services__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(109, 30, 30, 0.4);
}

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .services {
    height: auto;
  }
}

@media screen and (maxwidth: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
