@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-secondary: #edddd4;
  --color-highlight: #c44536;
  --color-highlight-dark: #772e25;
  --color-white: #d9d9d9;
  --transition: all 0.4s ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto Mono", monospace;
  background: var(--color-white);
  color: var(--color-highlight-dark);
  line-height: 1.7;
  background-image: url("./images/texture1.png");
}

/* General styles */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.h1,
h2 {
  font-weight: 500;
}
h3,
h4,
h5 {
  font-weight: 1rem;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section h5 {
  text-align: center;
  color: var(--color-highlight-dark);
}

section > h3 {
  color: var(--color-highlight-dark);
  margin-bottom: 3rem;
}

a {
  color: var(--color-highlight-dark);
  transition: var(--transition);
  border: 2px solid var(--color-primary);
}
a:hover {
  color: var(--color-primary);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  background: var(--color-highlight-dark);
  border: 2px solid var(--color-highlight-dark);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-highlight-dark);
  border: 2px solid var(--color-highlight-dark);
}

.btn-primary {
  background: var(--color-highlight-dark);
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* media queires */

@media screen and(max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .section {
    margin-top: 6rem;
  }
}

@media screen and(max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .section > h2 {
    margin-top: 2rem;
  }
}
